@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App {
  font-family: 'Open Sans', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.commentForm{
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.show-grid{
  justify-content: center;
}

.searchResultItem{
  padding-left: 10px;
}

.searchResultRow{
  flex-wrap: nowrap !important;
}

.selectedTrackHeading{
  font-size: 14px;
}

.formBox{
  box-sizing: border-box;
  padding: 20px;
}

.buttonCol{
  margin: auto;
  padding-top: 20px;
}

.container{
  padding-top: 20px;
}

/*The feed, a list of cards*/
.list-group{
  max-width: 800px;
  margin: auto;
}

.feed-img{
  height: auto;
  width: 100%;
}

.card{
  margin-top: 20px;
}

.likeButton{
  /* font-size: 20px !important; */
  border-radius: 40px !important;
}

.submitButton{
  border-radius: 40px !important;
}

.likeThumb{
  /* font-size: 20px !important; */
}

.bottomRow{
  font-weight: lighter;
}

.img-fluid{
padding: 5px;
}
