@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App {
  font-family: 'Open Sans', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.commentForm{
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.show-grid{
  justify-content: center;
}

.subButton{
  margin: auto;
}

.buttonCol{
  margin: auto;
  padding-top: 20px;
}

.container{
  padding-top: 20px;
}

/*The feed, a list of cards*/
.list-group{
  max-width: 600px;
  margin: auto;
}

.card{
  margin-top: 20px;
}

.img-fluid{
padding: 5px;
}
