.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.post-div{
  text-align: left;
  width: 500px;
  margin: auto;
}

.commentForm{
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
